[Desktop Entry]
Name=Mantid Workbench {{ exercises_exercise09_mantid_install_info['version'] }}
Comment=Neutron Data Reduction Framework
GenericName=MantidWorkbench
Exec=/bin/bash -c "source ~/.bashrc && /opt/mambaforge/bin/conda run --prefix {{ exercises_exercise09_mantid_install_info['install_prefix'] }} mantidworkbench"
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Software;
Icon=mantid_workbench
StartupNotify=false
